.simple-button-container{
    background-color: #125cf0;
    padding: 10px 0;
    width: 92px;
    margin: 0 auto;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 18px;
    
}
.simple-button-container__diasbled{
    background-color:  #8aacf0;
}